* {
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(251, 213, 219);
}

.dark-brown-bold {
    color: rgb(116, 29, 29);
    font-weight: bold;
}

.container {
    width: 50%;
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 8px;

    border-radius: 7px;
    padding: 24px;

    background-color: white;
}

.preparation-time {
    padding: 4px 4px 4px 4rem;

    background-color: rgba(255, 221, 226, 0.574);

    border-radius: 7px;
}

.nutritional-values > table {
    width: 100%;
    border-collapse: collapse;
}

.nutritional-values > table > tbody > tr > td {
    border-bottom: 1px solid gray;
    padding: 4px;
}

@media screen and (max-width: 800px) {
    .container {
        width: 80%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        width: 95%;
    }

    .preparation-time {
        padding: 4px;
    }
}
