:root {
    --base-bg-color: #ebece9;
    --button-color: #242424;
    --fore-bg-color: #fafafa;

    --default-padding: 3rem;
}

.MessageContainer {
    width: 100%;
    height: 10rem;
    padding: var(--default-padding);
}

.message {
    text-align: center;
    font-size: 2.6rem;
}
