:root {
    --base-bg-color: #ebece9;
    --button-color: #242424;
    --fore-bg-color: #fafafa;

    --default-padding: 3rem;
}

.projectsContainer {
    width: 100%;
    height: 33rem;

    display: flex;
    flex-direction: column;

    border: 2px solid gray;
    border-radius: 50px;

    background: var(--base-bg-color);

    padding: var(--default-padding);

    gap: 1rem;
}

.projectList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project {
    width: 15rem;

    border: none;
    border-radius: 10px;

    box-shadow: 0.1px 0.1px 5px gray;

    overflow: hidden;
}

.project > img {
    width: 102%;
}

.project > div {
    padding: 10px;
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.project > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
