* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

    background: #fffefc;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;

    display: flex;
    flex-direction: column;

    gap: 3rem;
}

.btn {
    outline: none;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.navbar {
    width: 100%;

    padding: 8px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-links {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

.logo-links > ul {
    display: flex;
    align-items: center;
    gap: 12px;

    list-style-type: none;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

.actions > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    list-style-type: none;
}

.only-for-mobile {
    display: none;
}

.hero {
    width: 100%;
    display: flex;

    gap: 2rem;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.left > h1 {
    font-size: 61px;
    line-height: 1;
}
.left > p {
    width: 100%;
    font-size: 18px;
}

.right {
    width: 100%;
}

.right > img {
    width: 100%;
}

.body-img-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.body-img-desc > .item {
    display: flex;
    align-items: center;

    gap: 2rem;
}

.body-img-desc > .item > .item-left {
    width: 100%;
}

.body-img-desc > .item > .item-left > img {
    width: 100%;
}

.endless-uses {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.endless-uses > .endless-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.endless-lower {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.endless-lower > .lower-left {
    width: 30%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.endless-lower > .lower-left > ul {
    list-style-type: none;
}

.endless-lower > .lower-left > .used-by > div {
    display: flex;
    gap: 1rem;

    margin-top: 4px;
}

.endless-lower > .lower-right {
    flex: 1;
}
.endless-lower > .lower-right > img {
    width: 100%;
}

.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: red;
}

.templates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
}

.templates-upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.templates-lower {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.templates-lower > div > img {
    width: 100%;
}

.innovative-teams {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
}

.innovative-teams-upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innovative-teams-lower {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

.innovative-teams-lower > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.innovative-teams-people {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.try-notion-today {
    width: 100%;
    height: 40rem;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.try-notion-today > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
.try-notion-today > div > button {
    background-color: red;
    color: white;
}

.try-notion-today > .try-notion-today-img {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.try-notion-today > .try-notion-today-img > img {
    width: 100%;
    height: 15rem;
}

footer {
    width: 100%;
    display: flex;
    gap: 1rem;
}

footer > div > ul {
    list-style-type: none;
}

/* MEDIA QUERIES */

@media (max-width: 575.98px) {
    /* Styles for extra small screens */
    .container {
        width: 95%;
    }
    .logo-links > .links {
        display: none;
    }
    .only-for-mobile {
        display: block;
    }
    .actions > ul {
        display: none;
    }
    .hero {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .left > h1 {
        font-size: 38px;
    }

    .body-img-desc > .item {
        flex-direction: column-reverse;
    }

    .templates-lower {
        flex-wrap: wrap;
    }

    .innovative-teams-lower {
        flex-wrap: wrap;
    }
    footer {
        flex-wrap: wrap;
    }
}

/* Medium devices (tablets, 576px to 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 95%;
    }
    .logo-links > .links {
        display: none;
    }
    .only-for-mobile {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .body-img-desc > .item {
        flex-direction: column-reverse;
    }

    .templates-lower {
        flex-wrap: wrap;
    }

    .innovative-teams-lower {
        flex-wrap: wrap;
    }
    footer {
        flex-wrap: wrap;
    }
}

/* Large devices (landscape tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for tablets or small laptops */
}

/* Extra large devices (laptops/desktops, 992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for desktops */
}
